body {
  font-variant-numeric: tabular-nums;
  font-family: "Noto Sans", Helvetica, sans-serif;
  font-weight: bold;
  background-color: #fffbdc;
  color: #333;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
}

#header {
  padding: 20px;
  height: 25vh;
}

#main-section {
  height: 50vh;
}

#footer {
  padding: 20px;
  height: 30vh;
}

.section-aligner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#board {
  font-size: 2.5rem;
  letter-spacing: 3px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 20px;
  background-color: #ffe341;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#score {
  text-align: center;
}